#resultado {
    background-color: #ed9242;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 12px;
    display: grid;
    position: absolute;
    right: 215px;
    box-shadow: 1px 3px 4px black;
    top: 113px;

}

#resultado .fa-download {
    color: #000;
    font-size: 17px;
    position: absolute;
    right: 50px;
    cursor: pointer;
}

/* Estilo para o texto "Olá [nome]" */
#resultado p:first-child {
    font-weight: bold;
    font-size: 18px;
}

/* Estilo para o texto "Resultado: [valor]" */
#resultado p:nth-child(2) {
    margin-top: 10px;
    font-weight: bold;
}

/* Estilo para o texto da mensagem */
#resultado p:nth-child(3) {
    margin-top: 10px;
    color: #333;
}

#resultado {
    display: none;
}

.testWve .active,
.testWve a:hover {
    background-color: #ed9242;
    border-radius: 10px;
    padding: 10px 20px;
}



.consulta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    /* background-color: #ffffff; */
}

.consulta h1 {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.3;
    white-space: nowrap;
    /* Esta linha mantém o texto em uma única linha */
    color: #60605c;
}

.consulta h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    white-space: nowrap;
    /* Esta linha mantém o texto em uma única linha */
    align-self: flex-start;
}

.mach {
    display: flex;
    position: relative;
    align-self: flex-start;
    flex-direction: row;
    align-items: center;
    padding-right: 1.5rem;
}

.traço {
    position: absolute;
    left: 100%;
    transform: translateY(-50%);
    height: 2px;
    width: 100px;
    background-color: #ed9242;
}

.consulta-content {
    width: 82vw;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}



#consultar-btn {
    padding: 13px 50px;
    box-shadow: 0 0 4.5px #60605c;
}

.btn:hover {
    background: #60605c;
    box-shadow: 0 0 4.5px black;
    color: black;
}

.sintomas label {
    font-size: 16px;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: #ed9242;
    border-color: #ed9242;
}


.dados-user {
    display: flex;
    flex-wrap: wrap;
}

.input-nome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.input-dados {
    flex: 0 0 calc(33.33% - 10px);
    /* 33.33% para cada coluna, -10px para o espaçamento */
    margin-bottom: 20px;
}

.input-dados label {
    display: block;
    font-size: 16px;
    /* Tamanho da fonte do label */
    margin-bottom: 5px;
    /* Espaçamento abaixo do label */
}

.input-dados input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    /* Espaçamento interno do input */
    font-size: 14px;
    /* Tamanho da fonte do input */
    border: 1px solid #ccc;
    /* Borda do input */
    border-radius: 5px;
    /* Arredondamento da borda */
}

.input-dados input::placeholder {
    color: #999;
    /* Cor do texto de placeholder */
}

.sintomas h3 {
    font-size: 20px;
    color: #4d4d4d;
    margin: 20px 0px;
}

.opcoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    padding: 20px;
    font-size: 15px;
    gap: 20px;
}

.content-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#separador {
    left: 719px;
    width: 500px;
    margin: 11px 0;
}

.custom-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #333;
    border-radius: 5px;
}

.custom-link:hover {
    background-color: #333;
    color: white;
}

.link-icon {
    margin-right: 5px;
}

@media only screen and (max-width: 1505px) {

    #separador {
        left: 719px;
        width: 300px;
        margin: 11px 0;
        transform: translateY(-50%);

    }


}

@media only screen and (max-width: 1170px) {

    #separador {
        display: none;

    }
}


@media only screen and (max-width: 700px) {

    .input-nome {
        display: block;
    }
}