<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../pages/styles/componentesReuso.css">
    <link rel="stylesheet" href="../pages/styles/painel.css">
    <title>Mapa</title>

</head>

<body>


    <header class="header">
        <a href="#" class="logo">D&D</a>

        <nav class="navbar">
            <div class="testWve">
                <a href="/">Home</a>
                <a href="/consulta">Consulta Online</a>
                <a href="/painel">Painel Controle</a>
                <a href="/hospitais" class="active">Hospitais</a>
                <a href="/contaminacao">Contaminação</a>
                <a href="/unidades">Novas unidades</a>
            </div>
        </nav>

    </header>
    <section class="painel" id="painel">
        <div class="content-divs">
            <div class="left">
                <div class="conteiner-left">
                    <div class="palavras">
                        <h1>Previsão Dengue</h1>
                        <p>A informações apresentadas ao lado ilustra a distribuição dos hospitais agrupados por regiões
                            na
                            área sergipana. Os dados foram meticulosamente plotados, destacando especificamente os
                            hospitais onde o número de casos é igual ou superior à capacidade de leitos disponíveis.
                            Essas informações foram obtidas a partir da base de dados da Unidade Básica de Saúde (UBS)
                            da região de Sergipe.
                            <br>
                            Além disso, é importante ressaltar sobre a distribuição geográfica da capacidade hospitalar
                            em relação à demanda por serviços
                            de saúde. Ao analisar os pontos de concentração de casos em relação aos recursos
                            disponíveis, é possível identificar áreas que podem estar enfrentando desafios
                            significativos no atendimento às necessidades médicas da população.
                        </p>
                    </div>
                    <div class="alerta">
                        <p>É importante consultar um médico ao apresentar sintomas suspeitos de dengue.</p>
                    </div>
                </div>


            </div>
            <div class="right">
                <div>
                    <h2>Analisando as regiões com maior indice de contaminação</h2>
                </div>
                <div class="mapa_total">
                    <iframe src="/mapa_hospitais" frameborder="0"></iframe>

                </div>
            </div>
        </div>
    </section>
</body>

</html>